.bgVideo {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-modal-overlay {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1000;
}

.show-modal {
  transform: translate(-50%, 0%) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
